
.Rhistory
*.doc
.Rproj.user

#folders to ignore
model/model_runs
data/longitudinal_sampling
data/watershed
data/watershed_boundary
data/nlcd
data/nwalt
data/other_watershed_stuff
data/prism_raw
data/metabolism/raw
data/metabolism/modeled
data/metabolism/processed
data_bak
.Rproj.user
*.tiff
*.tif
map_files_archived/map_files
*.zip
code/analyze_data/*.rds
*.DS_Store
figures/gifs
*.swp
