data/*
!data/hall_data
!data/gee
!data/map_files
!data/watershed_boundary
.Rhistory
/figs
*.doc

#folders to ignore
model/model_runs
data/metabolism/modeled
data/metabolism/processed
data_bak
.Rproj.user
*.tiff
*.tif
*.png
map_files_archived/map_files
*.zip
